@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html, body {
  overflow-x: hidden;
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
}

header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  background-color: #A39E7F;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A39E7F;
}
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__navigation-item {
  padding: 0 0.5rem;
}
.header__navigation-item a {
  color: #e6e6e6;
  text-decoration: none;
}
.header__navigation-item:hover a {
  color: #FFFFFF;
}

.hero {
  background-color: #A39E7F;
  width: 100vw;
  padding: 4rem 0;
}
.hero__block {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap-reverse;
  width: 100%;
}
.hero__title {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 30cqw;
  text-align: center;
  min-width: 300px;
  display: inline;
  font-weight: 600;
  text-wrap: balance;
  font-size: clamp(1.5rem, 0.9643rem + 2.6786vw, 3.375rem);
  color: #fff;
}
.hero__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: 100;
}
.hero__img-layout {
  display: flex;
  max-width: 700px;
  width: 50%;
  z-index: 90;
  min-width: 300px;
  position: relative;
}
.hero__img-layout::before {
  content: "";
  width: 50%;
  height: 50%;
  z-index: 0;
  background: url(../images/Dotted.png) no-repeat;
  position: absolute;
  right: 0;
}

.burger-btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 500;
  right: 1rem;
  padding: 1rem;
  top: 1rem;
}
.burger-btn span {
  transition: 1s;
  position: absolute;
  width: 30px;
  z-index: 100;
  height: 3px;
  background-color: #fff;
}
.burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.burger-btn span:nth-child(2) {
  transform: translateY(10px);
}
.burger-btn__active {
  transform: rotate(90deg);
  transition: 1s;
}
.burger-btn__active span {
  position: absolute;
  z-index: 100;
}
.burger-btn__active span:nth-child(1) {
  background-color: #fff;
  transform: rotate(45deg);
}
.burger-btn__active span:nth-child(3) {
  opacity: 0;
}
.burger-btn__active span:nth-child(2) {
  background-color: #fff;
  transform: rotate(-45deg);
}

@media (max-width: 800px) {
  .container {
    max-width: unset;
    padding: 0 1rem;
  }
  .hero__block {
    padding: 2rem 4rem;
  }
  header {
    display: flex;
    width: 100vw;
    padding: 0;
  }
  .header {
    overflow: hidden;
    padding: 1rem;
    transform: translateX(100vw);
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    z-index: 500;
  }
  .header__img {
    height: 100%;
    width: -moz-min-content;
    width: min-content;
    padding: 1rem;
  }
  .header__navigation {
    z-index: 100;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header__navigation-list {
    flex-direction: column;
  }
  .header__navigation-item {
    font-size: 2rem;
    padding: 2rem;
  }
  .burger-btn {
    display: flex;
    padding: 1rem;
  }
}
.show {
  -webkit-backdrop-filter: brightness(10%);
          backdrop-filter: brightness(10%);
  animation: 0.5s ease-out showHide;
  transform: translateX(0);
}

@keyframes showHide {
  0% {
    -webkit-backdrop-filter: brightness(100%);
            backdrop-filter: brightness(100%);
    transform: translateX(100vw);
  }
  20% {
    -webkit-backdrop-filter: brightness(70%);
            backdrop-filter: brightness(70%);
  }
  100% {
    -webkit-backdrop-filter: brightness(10%);
            backdrop-filter: brightness(10%);
    transform: translateX(0);
  }
}
.__info-title {
  color: #3B5D50;
  font-size: 2.428rem;
  font-weight: 600;
}

.__info-description {
  color: #6A6A6A;
  font-size: 1rem;
  line-height: 24px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__lorem {
  padding: 0 1rem;
}
.main__lorem-text {
  text-indent: 4ch;
  text-wrap: stable;
  word-break: break-all;
}
.main__block {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__products {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0;
}
.products__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.products__link {
  display: flex;
  width: -moz-min-content;
  width: min-content;
  padding: 1rem 2rem;
  color: #e6e6e6;
  background-color: #2F2F2F;
  border-radius: 2rem;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}
.products__link:hover {
  background-color: #A39E7F;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.product__card {
  padding: 2rem 0;
  height: 320px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: 0.3s;
  position: relative;
}
.product__card:hover {
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(53, 115, 110, 0.1);
  filter: drop-shadow(3px -5px 10px rgba(67, 68, 87, 0.3));
}
.product__card:hover::after {
  content: "+";
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transform: translateY(50%);
  position: absolute;
  width: 2rem;
  line-height: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 800;
  color: #e6e6e6;
  background-color: #2F2F2F;
  transition: 0.3s;
}
.product__card:hover::after:hover {
  background-color: #A39E7F;
  color: #2F2F2F;
}
.product__card:hover .product__img {
  transform: translateY(-20%);
}
.product__img {
  transition: 0.3s;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__title {
  font-weight: 600;
  font-size: 1.142rem;
}
.product__price {
  font-weight: 700;
  font-size: 1.285rem;
}

.__info-icon {
  display: flex;
  width: 40px;
  z-index: 100;
  height: 40px;
  position: relative;
}
.__info-icon img {
  z-index: 100;
}

.__info-icon::before {
  content: "";
  color: #3B5D50;
  right: -25%;
  bottom: -25%;
  width: 40px;
  height: 40px;
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(53, 115, 110, 0.2);
}

.fullW {
  width: 100%;
}

.main__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
}
.main__content-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
}
.main__content-block iframe {
  display: block;
  height: 70vh;
  width: 100%;
}
.main__content-item {
  padding: 1rem 0;
  max-width: 40%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.main__content-info {
  align-items: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__content-img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  z-index: 100;
}
.main__content-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 50%;
  z-index: 90;
  min-width: 300px;
}
.main__content-layout::before {
  content: "";
  width: 50%;
  height: 50%;
  left: -50px;
  top: -50px;
  background: url(../images/Dotted.png) no-repeat;
  background-size: cover;
  z-index: 80;
  position: absolute;
}

@media (max-width: 800px) {
  .main__block {
    flex-wrap: wrap;
  }
  .main__small-block {
    padding: 4rem 0;
  }
  .main__products {
    flex-wrap: wrap;
    padding: 0;
  }
  .products__cards {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .products__info {
    padding: 2rem 0;
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
  .main__content {
    flex-direction: column;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
}
.point-decoration {
  position: relative;
  line-height: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-content: center;
  border: 2px solid #2F2F2F;
  border-radius: 50%;
}

.column-reverse {
  flex-direction: auto;
}

.text-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.main__small-info {
  background-color: rgba(239, 235, 206, 0.3);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__small-info h1 {
  padding: 1rem 0;
}
.main__small-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  flex-wrap: wrap;
}
.main__small-card {
  padding: 1rem 1rem;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.main__small-card img {
  padding: 0 1rem;
  max-height: 100px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__small-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__small-description a {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: #6A6A6A;
}

.__description-text {
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
}

.block__row {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #A39E7F;
}
.footer__block {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 1rem;
  height: -moz-min-content;
  height: min-content;
  justify-content: space-between;
  align-items: center;
}
.footer__block-contacts {
  padding: 0 1rem;
}
.footer__block-layout {
  max-height: 400px;
  gap: 2rem;
}
.footer__contacts {
  gap: 2rem;
  padding: 1rem 0;
}
.footer__form {
  padding: 1rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #c4c4c4;
  outline: none;
  border-radius: 1rem;
  padding: 1rem 1rem;
  min-width: 200px;
  background: none;
  color: #eee;
  transition: 0.3s;
  -webkit-backdrop-filter: brightness(95%);
          backdrop-filter: brightness(95%);
}
.footer__form-input:hover {
  -webkit-backdrop-filter: brightness(100%);
          backdrop-filter: brightness(100%);
  outline: 1px solid #eee;
}
.footer__form-input:hover::-moz-placeholder {
  color: #eee;
}
.footer__form-input:hover::placeholder {
  color: #eee;
}
.footer__form-input::-moz-placeholder {
  color: #2F2F2F;
}
.footer__form-input::placeholder {
  color: #2F2F2F;
}
.footer__form-input:focus {
  -webkit-backdrop-filter: brightness(100%);
          backdrop-filter: brightness(100%);
  outline: 1px solid #eee;
}
.footer__form-input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}
.footer__form-input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}
.footer__form-input::backdrop {
  border: 3px solid red;
}
.footer__form-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: -moz-min-content;
  width: min-content;
  background: none;
  border: 1px solid #c4c4c4;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 0.5s;
}
.footer__form-btn img {
  transition: 0.1s;
}
.footer__form-btn:hover {
  border: 1px solid #eee;
  transform: scale(1.1);
}
.footer__form-btn:hover img {
  transition: 0.1s;
  filter: brightness(10%) invert(100%);
}
.footer__form-img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  max-height: 300px;
  transform: translateY(-25%);
}

@media (max-width: 800px) {
  .footer {
    padding: 2rem 0;
  }
  .footer__block {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  .footer__block-contacts {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__block-layout {
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
  }
  .footer__form {
    gap: 0.5rem;
  }
  .footer__contacts {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .footer__contacts p {
    max-height: 250px;
  }
  .footer__form-img {
    display: none;
  }
}
.border-top {
  border-top: 1px solid #385D50;
  padding: 1rem 0;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.border-top span {
  display: flex;
}

.btn-1 {
  z-index: 400;
}

.text-white {
  color: #e6e6e6;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.paralaxFromLeft {
  animation: 1s paralaxFromLeft ease-in-out;
}

.paralaxFromRight {
  animation: 1s paralaxFromRight ease-in-out;
}

.paralaxFromCenter {
  animation: 1s paralaxFromCenter ease-in-out;
}

@keyframes paralaxFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(3px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes paralaxFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-3px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes paralaxFromCenter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__result {
  padding: 4rem 0;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
}
.main__result-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}